.mt-5 {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-size: 34px;
	line-height: 41px;
	color: #414d6a;
}
.page-img {
	width: 615px;
}
.d-flex {
	display: flex;
	justify-content: space-between;
}
.page-about {
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 150px;
}
