@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/Gilroy-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - cyrillic */
  
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('./assets/fonts/Gilroy-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/Gilroy-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - cyrillic */
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./assets/fonts/Gilroy-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/Gilroy-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - cyrillic */
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('./assets/fonts/Gilroy-Black.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/Gilroy-Black.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }